In [1]:
import pandas as pd
import numpy as np

In [2]:
wvs = pd.read_csv("/Users/nasheyarahman/Desktop/Data Mining/Data-Mining-Final-Project/WorldValuesSurvey.csv")
del wvs['Unnamed: 0'] #this is the survey #, I'm assuming this to be unique anyway
wvs.head()

,V1,V2,V2A,V3,V4,V5,V6,V7,V8,V9,...,I_HOMOLIB,I_ABORTLIB,I_DIVORLIB,choice,WEIGHT3B,I_VOICE1,I_VOICE2,I_VOI2_00,voice,WEIGHT4B
0,6,12,12,1.0,1,1,1,-2,1,1,...,0.0,0.0,0.222222,0.074074,1.0,0.00,0.5,0.250,0.250,1.0
1,6,12,12,2.0,1,2,3,4,2,2,...,0.0,0.0,0.000000,0.000000,1.0,0.66,0.0,0.330,0.330,1.0
2,6,12,12,3.0,1,3,2,4,2,1,...,0.0,0.0,0.333333,0.111111,1.0,0.33,0.0,0.165,0.165,1.0
3,6,12,12,4.0,1,1,3,4,3,1,...,0.0,0.0,0.000000,0.000000,1.0,0.00,0.0,0.000,0.000,1.0
4,6,12,12,5.0,1,1,1,2,1,1,...,0.0,0.0,0.222222,0.074074,1.0,0.66,0.0,0.330,0.330,1.0

In [3]:
hdi_data = pd.read_csv("/Users/nasheyarahman/Desktop/Data Mining/Data-Mining-Final-Project/human-development/human_development.csv")
hdi_data.head()

hdi = hdi_data[["HDI Rank","Country","Human Development Index (HDI)"]]
hdi.head()

   HDI Rank      Country  Human Development Index (HDI)
0       1.0       Norway                          0.944
1       2.0    Australia                          0.935
2       3.0  Switzerland                          0.930
3       4.0      Denmark                          0.923
4       5.0  Netherlands                          0.922

In [5]:
country_codes = pd.read_csv("/Users/nasheyarahman/Desktop/Data Mining/Data-Mining-Final-Project/countryCodes.csv")
cc = pd.DataFrame.as_matrix(country_codes)
country_codes.head()

   V2         country
0   8         Albania
1  12         Algeria
2  16  American Samoa
3  20         Andorra
4  24          Angola

In [9]:
countries = wvs_human['V2'].unique()

In [6]:
wvs_human = wvs[['V2','V15','V16','V20','V22','V27','V32','V70','V74B','V143','V160E','V160J']]
wvs_human.head()

   V2  V15  V16  V20  V22  V27  V32  V70  V74B  V143  V160E  V160J
0  12    2    2    2    2    0    0    1     2     2      1      2
1  12    2    2    2    2    0    0    2     1     1      3      2
2  12    1    2    2    2    0    0    1     3     1      3      2
3  12    2    1    1    2    0    0    1     3     2      2      2
4  12    2    2    2    2    0    0    2     1     2      2      3

In [10]:
#columns = ['V2', 'Country Total','V15_1', 'V16_1', 'V20_1', 'V22_1', 'V27_0', 'V27_1', 'V27_2', 'V32_0', 'V32_1', 'V32_2', 'V70_1', 'V70_2', 'V70_3', 'V70_4', 'V70_5', 'V70_6', 'V74B_1', 'V74B_2', 'V74B_3', 'V74B_4', 'V74B_5', 'V74B_6', 'V143_1', 'V143_2', 'V143_3', 'V143_4', 'V160E_1', 'V160E_2', 'V160E_3', 'V160E_4', 'V160E_5', 'V160J_1', 'V160J_2', 'V160J_3', 'V160J_4', 'V160J_5']
hpop = pd.DataFrame()
hpop = hpop.fillna(0)
hpop.head()

Empty DataFrame
Columns: []
Index: []

In [11]:
def getValues(col_name, df, hpop):
    counts = df[col_name].value_counts()
    for k in range(len(counts)):
        if(counts.index[k]>=0):
            col_official = col_name+"_"+str(counts.index[k])
            hpop.loc[i, col_official] = counts.values[k]

for i in range(len(countries)):
    df = wvs_human[wvs_human.V2 == countries[i]]
    hpop.loc[i,'V2'] = countries[i]
    hpop.loc[i,'Country Total'] = len(df)
    
    col_name = 'V15'
    getValues(col_name, df, hpop)
    
    col_name = 'V16'
    getValues(col_name, df, hpop)
    
    col_name = 'V20'
    getValues(col_name, df, hpop)
    
    col_name = 'V22'
    getValues(col_name, df, hpop)
    
    col_name = 'V27'
    getValues(col_name, df, hpop)
    
    col_name = 'V32'
    getValues(col_name, df, hpop)
    
    col_name = 'V70'
    getValues(col_name, df, hpop)
    
    col_name = 'V74B'
    getValues(col_name, df, hpop)
    
    col_name = 'V143'
    getValues(col_name, df, hpop)
    
    col_name = 'V160E'
    getValues(col_name, df, hpop)
    
    col_name = 'V160J'
    getValues(col_name, df, hpop)

In [12]:
hpop = hpop.fillna(0)
hpop.head()

,V2,Country Total,V15_2,V15_1,V16_1,V16_2,V20_2,V20_1,V22_2,V22_1,...,V160E_1,V160E_3,V160E_4,V160E_2,V160E_5,V160J_5,V160J_4,V160J_3,V160J_1,V160J_2
0,12.0,1091.0,833.0,258.0,675.0,416.0,701.0,390.0,901.0,190.0,...,264.0,208.0,195.0,192.0,137.0,254.0,245.0,207.0,149.0,118.0
1,32.0,1000.0,671.0,329.0,587.0,413.0,575.0,425.0,860.0,140.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,51.0,1079.0,1013.0,66.0,620.0,459.0,816.0,263.0,857.0,222.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,36.0,1379.0,861.0,518.0,1223.0,156.0,697.0,682.0,896.0,483.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,31.0,1002.0,855.0,147.0,713.0,289.0,786.0,216.0,469.0,533.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
for i in range(len(hpop)):
    index = np.where(cc[:,0]==hpop.loc[i,'V2'])[0][0]
    country_name = cc[index][1]
    hpop.loc[i,'V2'] = country_name
    
hpop.head()

,V2,Country Total,V15_2,V15_1,V16_1,V16_2,V20_2,V20_1,V22_2,V22_1,...,V160E_1,V160E_3,V160E_4,V160E_2,V160E_5,V160J_5,V160J_4,V160J_3,V160J_1,V160J_2
0,Algeria,1091.0,833.0,258.0,675.0,416.0,701.0,390.0,901.0,190.0,...,264.0,208.0,195.0,192.0,137.0,254.0,245.0,207.0,149.0,118.0
1,Argentina,1000.0,671.0,329.0,587.0,413.0,575.0,425.0,860.0,140.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Armenia,1079.0,1013.0,66.0,620.0,459.0,816.0,263.0,857.0,222.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Australia,1379.0,861.0,518.0,1223.0,156.0,697.0,682.0,896.0,483.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Azerbaijan,1002.0,855.0,147.0,713.0,289.0,786.0,216.0,469.0,533.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
for i in range(len(hpop)):
    total = hpop.loc[i, "Country Total"]
    
    for k in range(2,len(hpop.columns)):
        num = hpop.iloc[i,k]
        hpop.iloc[i,k] = num/total
        
hpop.head()

,V2,Country Total,V15_2,V15_1,V16_1,V16_2,V20_2,V20_1,V22_2,V22_1,...,V160E_1,V160E_3,V160E_4,V160E_2,V160E_5,V160J_5,V160J_4,V160J_3,V160J_1,V160J_2
0,Algeria,1091.0,0.763520,0.236480,0.618698,0.381302,0.642530,0.357470,0.825848,0.174152,...,0.24198,0.190651,0.178735,0.175985,0.125573,0.232814,0.224565,0.189734,0.136572,0.108158
1,Argentina,1000.0,0.671000,0.329000,0.587000,0.413000,0.575000,0.425000,0.860000,0.140000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Armenia,1079.0,0.938832,0.061168,0.574606,0.425394,0.756256,0.243744,0.794254,0.205746,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Australia,1379.0,0.624365,0.375635,0.886875,0.113125,0.505439,0.494561,0.649746,0.350254,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Azerbaijan,1002.0,0.853293,0.146707,0.711577,0.288423,0.784431,0.215569,0.468064,0.531936,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [15]:
hpop = hpop.rename(columns={'V2': 'Country'})
hpop_hdi = hpop.merge(hdi, on="Country", sort=True)
hpop_hdi.head()

,Country,Country Total,V15_2,V15_1,V16_1,V16_2,V20_2,V20_1,V22_2,V22_1,...,V160E_4,V160E_2,V160E_5,V160J_5,V160J_4,V160J_3,V160J_1,V160J_2,HDI Rank,Human Development Index (HDI)
0,Algeria,1091.0,0.763520,0.236480,0.618698,0.381302,0.642530,0.357470,0.825848,0.174152,...,0.178735,0.175985,0.125573,0.232814,0.224565,0.189734,0.136572,0.108158,83.0,0.736
1,Argentina,1000.0,0.671000,0.329000,0.587000,0.413000,0.575000,0.425000,0.860000,0.140000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,40.0,0.836
2,Armenia,1079.0,0.938832,0.061168,0.574606,0.425394,0.756256,0.243744,0.794254,0.205746,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,85.0,0.733
3,Australia,1379.0,0.624365,0.375635,0.886875,0.113125,0.505439,0.494561,0.649746,0.350254,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0,0.935
4,Azerbaijan,1002.0,0.853293,0.146707,0.711577,0.288423,0.784431,0.215569,0.468064,0.531936,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,78.0,0.751

In [16]:
import statsmodels.api as sm

x = [hpop_hdi["V15_1"], hpop_hdi["V16_1"], hpop_hdi["V20_1"], hpop_hdi["V22_1"], hpop_hdi["V27_1"], hpop_hdi["V32_1"], hpop_hdi["V27_2"], hpop_hdi["V32_2"], hpop_hdi["V70_1"], hpop_hdi["V70_2"], hpop_hdi["V70_3"], hpop_hdi["V74B_1"], hpop_hdi["V74B_2"], hpop_hdi["V74B_3"], hpop_hdi["V143_1"], hpop_hdi["V143_2"], hpop_hdi["V160E_1"], hpop_hdi["V160E_2"], hpop_hdi["V160J_5"],hpop_hdi["V160J_4"]]

def reg_m(y, x):
    ones = np.ones(len(x[0]))
    X = sm.add_constant(np.column_stack((x[0], ones)))
    for ele in x[1:]:
        X = sm.add_constant(np.column_stack((ele, X)))
    results = sm.OLS(y, X).fit()
    return results

print reg_m(hpop_hdi["Human Development Index (HDI)"], x).summary()

                                  OLS Regression Results
=========================================================================================
Dep. Variable:     Human Development Index (HDI)   R-squared:                       0.695
Model:                                       OLS   Adj. R-squared:                  0.505
Method:                            Least Squares   F-statistic:                     3.655
Date:                           Tue, 23 May 2017   Prob (F-statistic):           0.000546
Time:                                   02:42:12   Log-Likelihood:                 70.565
No. Observations:                             53   AIC:                            -99.13
Df Residuals:                                 32   BIC:                            -57.75
Df Model:                                     20
Covariance Type:                       nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
x1            -0.0362      0.302     -0.120      0.905        -0.652     0.579
x2             0.1543      0.223      0.691      0.495        -0.301     0.609
x3             0.0715      0.320      0.223      0.825        -0.581     0.724
x4            -0.2267      0.326     -0.694      0.492        -0.892     0.438
x5            -0.1510      0.256     -0.590      0.560        -0.673     0.371
x6            -0.1856      0.157     -1.185      0.245        -0.505     0.134
x7             0.6741      0.304      2.221      0.034         0.056     1.292
x8            -0.6039      0.256     -2.358      0.025        -1.126    -0.082
x9             0.2993      0.238      1.256      0.218        -0.186     0.785
x10            0.7226      0.368      1.961      0.059        -0.028     1.473
x11            0.0922      0.210      0.440      0.663        -0.335     0.519
x12           -0.2466      0.197     -1.255      0.219        -0.647     0.154
x13            0.2800      0.544      0.515      0.610        -0.829     1.389
x14            0.8503      0.492      1.727      0.094        -0.153     1.853
x15            0.5462      0.646      0.846      0.404        -0.769     1.862
x16           -1.4951      0.615     -2.429      0.021        -2.749    -0.241
x17            0.1054      0.135      0.781      0.441        -0.169     0.380
x18           -0.1883      0.144     -1.309      0.200        -0.481     0.105
x19            0.1391      0.153      0.909      0.370        -0.173     0.451
x20           -0.0734      0.205     -0.358      0.723        -0.491     0.344
const          0.6906      0.214      3.223      0.003         0.254     1.127
==============================================================================
Omnibus:                        1.008   Durbin-Watson:                   1.771
Prob(Omnibus):                  0.604   Jarque-Bera (JB):                0.587
Skew:                          -0.253   Prob(JB):                        0.745
Kurtosis:                       3.097   Cond. No.                         129.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [17]:
#leave one out method
x = [hpop_hdi["V16_1"], hpop_hdi["V20_1"], hpop_hdi["V22_1"], hpop_hdi["V27_1"], hpop_hdi["V32_1"], hpop_hdi["V27_2"], hpop_hdi["V70_1"], hpop_hdi["V70_3"], hpop_hdi["V74B_1"], hpop_hdi["V74B_2"], hpop_hdi["V74B_3"], hpop_hdi["V143_1"], hpop_hdi["V160E_1"], hpop_hdi["V160E_2"], hpop_hdi["V160J_5"]]
print reg_m(hpop_hdi["Human Development Index (HDI)"], x).summary()

                                  OLS Regression Results
=========================================================================================
Dep. Variable:     Human Development Index (HDI)   R-squared:                       0.686
Model:                                       OLS   Adj. R-squared:                  0.559
Method:                            Least Squares   F-statistic:                     5.398
Date:                           Tue, 23 May 2017   Prob (F-statistic):           1.47e-05
Time:                                   02:42:12   Log-Likelihood:                 69.783
No. Observations:                             53   AIC:                            -107.6
Df Residuals:                                 37   BIC:                            -76.04
Df Model:                                     15
Covariance Type:                       nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
x1             0.1307      0.180      0.726      0.473        -0.234     0.496
x2             0.0635      0.253      0.251      0.803        -0.449     0.576
x3            -0.2317      0.270     -0.858      0.397        -0.779     0.316
x4            -0.1085      0.102     -1.066      0.293        -0.315     0.098
x5             0.5685      0.259      2.193      0.035         0.043     1.094
x6            -0.5959      0.229     -2.598      0.013        -1.061    -0.131
x7             0.3496      0.208      1.680      0.101        -0.072     0.771
x8             0.7349      0.282      2.606      0.013         0.163     1.306
x9            -0.2427      0.177     -1.369      0.179        -0.602     0.117
x10            0.9927      0.350      2.839      0.007         0.284     1.701
x11            0.6298      0.463      1.360      0.182        -0.308     1.568
x12           -1.5402      0.482     -3.194      0.003        -2.517    -0.563
x13            0.0483      0.106      0.456      0.651        -0.166     0.263
x14           -0.1965      0.113     -1.736      0.091        -0.426     0.033
x15            0.1416      0.140      1.011      0.319        -0.142     0.425
const          0.6262      0.134      4.686      0.000         0.355     0.897
==============================================================================
Omnibus:                        0.597   Durbin-Watson:                   1.750
Prob(Omnibus):                  0.742   Jarque-Bera (JB):                0.129
Skew:                          -0.053   Prob(JB):                        0.937
Kurtosis:                       3.217   Cond. No.                         84.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [18]:
#What I tried before and utterly failed, just merged it all into 1 cell
wvs_human['V15'].unique()

wvs_human = wvs_human[wvs_human.V15!=-5]
wvs_human['V15'].unique()

wvs_human['V16'].unique()

wvs_human = wvs_human[wvs_human.V16!=-5]
wvs_human['V16'].unique()

wvs_human['V20'].unique()

wvs_human = wvs_human[wvs_human.V20!=-5]
wvs_human['V20'].unique()

wvs_human['V22'].unique()

wvs_human['V27'].unique()

wvs_human = wvs_human[wvs_human.V27!=-5]
wvs_human = wvs_human[wvs_human.V27!=-1]
wvs_human = wvs_human[wvs_human.V27!=-2]
wvs_human['V27'].unique()

wvs_human['V32'].unique()

wvs_human = wvs_human[wvs_human.V32!=-5]
wvs_human = wvs_human[wvs_human.V32!=-1]
wvs_human = wvs_human[wvs_human.V32!=-2]
wvs_human['V32'].unique()

wvs_human['V70'].unique()

wvs_human = wvs_human[wvs_human.V70!=-5]
wvs_human = wvs_human[wvs_human.V70!=-1]
wvs_human = wvs_human[wvs_human.V70!=-2]
wvs_human['V70'].unique()

wvs_human['V74B'].unique()

wvs_human = wvs_human[wvs_human.V74B!=-4]
wvs_human = wvs_human[wvs_human.V74B!=-1]
wvs_human = wvs_human[wvs_human.V74B!=-2]
wvs_human['V74B'].unique()

wvs_human['V143'].unique()

wvs_human = wvs_human[wvs_human.V143!=-1]
wvs_human = wvs_human[wvs_human.V143!=-2]
wvs_human['V143'].unique()

wvs_human['V160E'].unique()

wvs_human = wvs_human[wvs_human.V160E!=-1]
wvs_human = wvs_human[wvs_human.V160E!=-2]
wvs_human = wvs_human[wvs_human.V160E!=-4]
wvs_human = wvs_human[wvs_human.V160E!=-5]
wvs_human['V160E'].unique()

wvs_human['V160J'].unique()

wvs_human = wvs_human[wvs_human.V160J!=-1]
wvs_human = wvs_human[wvs_human.V160J!=-2]
wvs_human['V160J'].unique()

print len(wvs_human['V2'])
wvs_human['V2'].unique()

31360

array([ 12,  76, 170, 156, 218, 818, 268, 276, 344, 356, 368, 400, 414,
       422, 434, 528, 586, 275, 646, 702, 710, 764, 788, 887])

In [19]:
#just testing syntax and what works and what doesn't
countries = wvs_human['V2'].unique()
hpop.loc[0,'V2'] = 12
hpop.head()
#for i in range(len(wvs_human)):
test = wvs_human[wvs_human.V2 == countries[0]]['V15'].value_counts()
test.index[0]
#"_"+str(test.index[0])

#np.where(cc[:,0]==12)[0][0]
#wvs.loc[0,'V2']
#for i in range(len(wvs['V2'])):
#index = np.where(cc[:,0] == wvs.loc[i,'V2'])[0][0]
#wvs.loc[i,'V2']

2